<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tbody>
        <% @lists.each do |k, v| %>
        <tr>
            <td><%= Product.where(id: k).take.name %></td>
            <td><%= v %></td>
        </tr>
        <%end%>
    </tbody>

</table>